/* Add CSS styles for your web site here and use them in index.html. */
.make-image{
    display: flex;
    justify-content: space-around; /* form a balanced distrubution */
    align-items: flex-start; /* 子项在顶部对齐 */
    flex-wrap: wrap; /* change line if not enough space */
    gap: 20px; /* gap between item */
    padding: 15px; /* gap between container */
}
.make-image img{
    width: 200px;
    height: 150px;
    max-width: 100%;
}
.image-data{
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 150px;
}
.important {
    font-weight: bold;
    color: rgb(11, 109, 101);
} 
#interesting {
    font-style: normal;
}
.newsclass{
    font-size: 20px; 
}
nav{
    display: flex;
    flex-direction: column; /* vetical align */
    gap: 10px; /* 10px gap */
}
/*
  Add style rules for the body of a your webpage.
  Note: These rules will be applied to all elements.
*/
body {

    /* Add a background color or image */
    /*background: linear-gradient(to bottom, #89f7fe, #8093f1, #d9a7c7);*/
    /*background-image: url('');*/
    background-color: rgb(245, 225, 199);

    /* Customize the font, size, and color for text*/
    font-family: Arial;
    font-size: 16px;
    color: black;

    /* Adjust the padding and margins */
    padding-top: 10px;
    padding-right: 0px;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}



/*
  Style Text: Add style rules for any headings (h1-6),
  paragraphs and links
*/

h1 {
    color: rgb(4, 66, 66);
    font-size: 35px;
    font-style:oblique;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-style:oblique;
    background-color: aliceblue;
    text-align: center;
}

h3, h4, h5, h6{
    font-style:oblique;
    background-color: aliceblue;
    text-align: center;
}

p {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color:blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
}
a:active {
    color:pink; 
}


/*
  Style Lists: Styles added to the ol or ul style rulesets affect the entire
  list, while styles added to the li style ruleset affect individual list items
*/


ol, ul{
    font-size: 16px;
}

ol li {
    font-family:'Lucida Sans';
}
ul li {
    font-family:'Lucida Sans';
}

/*
  Style Buttons: Add style rules for any headings (h1-6),
  paragraphs and links
*/

button {
  background-color:  #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
    background-color: #005f73; /* change color when ...balabala */
    transition: background-color 0.3s ease; /*a time to change the color*/
}
.button-link{
    margin-left: 10px;
    margin-right: 10px;
}




/* Select and style elements by class name or ID */


/* Example: This styles elements with class="header"*/
header {
    display: flex;
    justify-content: space-between; /* form a balanced distrubution */
    align-items: center; 
    background-color: #f0f0f0; 
    padding: 10px;
}
footer{
    position: fixed;  /*always can see the box*/
    bottom: 0; 
    width: 100%; 
    background-color: #fff;
}

/* Example: This styles an element with an id="header-img" */
/*#header-img {
    dont use
}*/
.section-class{
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
